.home-container {
    position: relative;
    height: 100vh; /* Altura completa de la ventana */
    width: 100%;
    overflow: hidden; /* Oculta el desbordamiento */
}

.home-container img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin deformarla */
}

.home-container h1 {
    position: absolute;
    top: 20px; /* Ajusta esta propiedad según el margen que desees */
    left: 50%;
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    color: #e49709; /* Color del texto */
    text-align: justify;
    font-size: 50px; /* Tamaño de la fuente */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    font-weight: bold;
}

.home-container h2 {
    text-align: center; /* Centra el texto */
    font-size: 40px; /* Tamaño de la fuente */
    color: #f4f2f2; /* Color del texto */
    margin-top: 100px; /* Espacio superior */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen de fondo */
}

.card-container {
    display: flex; /* Para alinear las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    justify-content: flex-end; /* Espaciado entre tarjetas */
    margin: 10px 0; /* Aumenta el margen superior e inferior */
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
}

.card {
    background-color: #fff; /* Color de fondo de la tarjeta */
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    padding: 0; /* Elimina el espaciado interno para que la imagen ocupe todo el espacio */
    margin: 10px; /* Margen entre tarjetas */
    width: calc(30% - 40px); /* Ancho de la tarjeta, ajustado para márgenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    transition: transform 0.3s; /* Transición suave al hacer hover */
    text-align: center; /* Centra el texto dentro de la tarjeta */
    overflow: hidden; /* Asegura que el contenido no desborde */
}

.card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio debajo de la imagen */
}

.card-content {
    padding: 20px; /* Espaciado interno para el texto */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.card h3 {
    color: #0c0c0c; /* Color del encabezado */
    margin-bottom: 10px; /* Espaciado inferior */
    font-size: 35px;
    font-weight: bold; /* Hace que el texto sea negrita */
}

.card p {
    color: #faf8f4; /* Color del texto */
    font-size: 20px;
    text-align: justify; /* Justifica el texto */
}
