.Navbar {
    width: 50%; /* Asegura que ocupe todo el ancho de la pantalla */
    padding: 0; /* Elimina el padding para que la barra no sea demasiado alta */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.Navbar img {
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.Navbar nav {
    display: flex;
    align-items: center;
    width: 80%;
}

.Navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* Asegura que los elementos estén distribuidos correctamente */
}

.Navbar ul li {
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
}

.Navbar input {
    margin: 0px;
    width: 150px; /* Ajusta el ancho del input si lo necesitas */
}