.register-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.register-container h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #f9f6f4;
    text-align: center;
    font-size: 2.5rem;
    z-index: 1;
}

form {
    position: relative;
    background-color: rgba(153, 5, 5, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    z-index: 2; /* Asegúrate de que el formulario esté por debajo del modal */
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-outline-secondary {
    background-color: #ccc;
    color: black;
}

.register-outline-primary {
    background-color: #007bff;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3; /* Asegura que el modal esté encima del formulario */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
